@import
url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400&display=swap');

:root {
    /*Cores utilizadas no site para facilitar*/ 
    --cor-header-footer:#F2A999;
    --cor-highlight-marrom:#261F1D;
    --cor-navbar:#403730;
    --cor-highlight-clicavel:#A64949;
    --cor-texto-padrao:#000;
    --cor-background-padrao:#FFF;
    --cor-background-section:#F2D49B;
    --cor-hover:#592525;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    user-select: auto  !important;
  }

  *:focus{
	outline: none;
}
  body {
    overflow-x: hidden;
    background-color:var(--cor-background-padrao);
    font-family: 'Jura', sans-serif;
    text-rendering: optimizeLegibility;
  }

  header, footer {
    width: 100%;
    background-color:var(--cor-header-footer);
  }
  
  header{
    padding:2px;
  }

  header .container-header, footer .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header .container-header a{
    text-decoration: none;
  }

  header .container-header a .titulo-site{
    color:var(--cor-highlight-marrom);
    font-size:40px;
    padding:4px;
  }

  header .container-header .nav-list{
    list-style: none;
    display:flex;
    justify-content: space-around;
    width: 300px;
    height: 20;
    margin: 0 !important;
  }

  header .container-header .nav-list .item a{
    text-decoration: none;
    color:var(--cor-navbar);
  }
  
  
  header .container-header .nav-list .item a:hover{
    color:var(--cor-hover)
  }

  header .container-header .nav-list .item .active{
    color:var(--cor-highlight-marrom)
  }

  footer .container-footer {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  footer .container-footer .copyright{
        text-align:center;
        color:var(--cor-highlight-marrom);
        font-size:25px;
  }

  .content{
    background-color: var(--cor-background-section);
    height:auto;
    width:auto;
    padding:20px;
    margin-left: 60px;
    margin-right: 50px;
    margin-bottom:10px;
    margin-top:10px;
    display:flex;
  }

  .content .imagem img{
    align-items: right;
    height:450px;
    width:300px;
  }

  .content .texto{
    padding:10px;
  }
  .content .texto .frase-inicial-final{
    text-align: center;
    font-weight: normal;
    color:var(--cor-texto-padrao);
    font-size:26px;
  }

  .content .texto .frase-inicial-final .link-site{
    text-decoration: none;
    color:var(--cor-highlight-clicavel);
  }

  .content .texto .texto-geral{
    text-align: justify;
    font-size:20px;
  }


  
